// Specific CSS for home_page
#landing-container {
  display: flex;
  justify-content: center;
  height: 70vh;
}

#fb-login {
  background-color: $blue;
  height: 50px;
  width: 220px;

  align-self: center;

  display: flex;
  justify-content: center;

  a {
    align-self: center;
    text-decoration: none;

    color: white;
    font-size: 0.9em;

   }

   transition: background-color 0.2s ease-in;
   &:hover {
     background-color: lighten($blue, 10%);
   }
}
