<% if notice %>
  <div class="alert alert-info click_to_hide" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning click_to_hide" role="alert">
    <%= alert %>
  </div>
<% end %>
